<div class="container-fluid" style="color: black">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead style="background-color: #00192b!important; color: white">
      <tr>
        <th scope="col">Jefe Grupo Militar</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <fa-icon icon="plus-circle" class="hvr-grow" size="3x" ></fa-icon>
  </div>



</div>
