<nav id="sidebar"
     [ngClass]="(showButtonService.currentState | async )? 'active' : ''"
     style="overflow-y: auto;">
  <div class="sidebar-header text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 text-center">
          <img src="assets/img/logo.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-8">
          <h4>Watchicolito Admin</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-center">
          <fa-icon icon="user-circle" size="3x"></fa-icon>
        </div>
        <div class="col-lg-8">
          Bienvenido, <h5>Admin</h5>
        </div>
      </div>
    </div>
  </div>
  <hr style="width: 100%; background-color: #556a81;">
  <ul class="list-unstyled">
    <li routerLinkActive="active"
        #rla="routerLinkActive"
        [ngClass]="rla.isActive ? '' : 'inactive'"
        style="padding: 5px!important;">
      <a [routerLink]="['default']"
         aria-expanded="false">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 text-right" style="padding: 0!important;margin: 0!important;">
              <span><fa-icon icon="home" size="2x"></fa-icon></span>
            </div>
            <div class="col-lg-9 text-left">
              Inicio
            </div>
          </div>
        </div>
      </a>
    </li>


    <li [ngClass]="rlinciC.isActive || rla.isActive || rlinciR.isActive ||
    rlinciT.isActive ||  rlinciPC.isActive ? 'activo' : 'inactive'">
      <div class="container-fluid">
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <div class="row">
            <div class="col-lg-3 text-right" style="padding: 0!important;margin: 0!important;">
              <span><fa-icon icon="edit" size="2x"></fa-icon></span>
            </div>
            <div class="col-lg-9 text-left">
              Incidencias

            </div>

          </div>
        </a>
      </div>
    </li>
    <li>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a routerLinkActive="active"
             #rlinciT="routerLinkActive"
             [ngClass]="rlinciT.isActive ? '' : 'inactive'"
             [routerLink]="['incidencias','todas']">Todas</a>
        </li>
        <li>
          <a routerLinkActive="active"
             #rlinciPC="routerLinkActive"
             [ngClass]="rlinciPC.isActive ? '' : 'inactive'"
             [routerLink]="['incidencias','porControlar']">Por Controlar</a>
        </li>
        <li>
          <a routerLinkActive="active"
             #rlinciC="routerLinkActive"
             [ngClass]="rlinciC.isActive ? '' : 'inactive'"
             [routerLink]="['incidencias','controladas']">
            Controladas
          </a>
        </li>
        <li>
          <a href="#">Por Reparar</a>
        </li>
        <li>
          <a routerLinkActive="active"
             #rlinciR="routerLinkActive"
             [ngClass]="rlinciR.isActive ? '' : 'inactive'"
             [routerLink]="['incidencias','reparadas']">Reparadas</a>
        </li>
      </ul>
    </li>

    <li class="inactive">
      <a>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 text-right" style="padding: 0!important;margin: 0!important;">
              <span><fa-icon icon="hard-hat" size="2x"></fa-icon></span>
            </div>
            <div class="col-lg-9 text-left">
              Técnicos
            </div>
          </div>
        </div>
      </a>
    </li>


    <li routerLinkActive="active"
        #rlm="routerLinkActive"
        [ngClass]="rlm.isActive ? 'active' : 'inactive'"
        style="padding: 5px!important;">
      <a [routerLink]="['militares']" aria-expanded="false">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 text-right" style="padding: 0!important;margin: 0!important;">
              <span><fa-icon icon="users" size="2x"></fa-icon></span>
            </div>
            <div class="col-lg-9 text-left">
              Militares
            </div>
          </div>
        </div>
      </a>
    </li>

    <li>
      <div class="container">
        <div class="row cursor" style="background-color: #00192b; position: fixed; bottom: 0; width:250px;"
             (click)="logout()">
          <div class="col-lg-12">
            <a class="text-center">
              <span><fa-icon icon="power-off" size="2x"></fa-icon></span>
            </a>
          </div>
        </div>
      </div>
    </li>


  </ul>
</nav>
